.root {
    width: '100%';
    margin-top: 1rem;
    overflow-x: auto;
    .App-header{
        display: flex;
        flex-direction: row;
        align-items: center; 
        .container{
            padding-top: 0;
            padding-bottom: 0%;
            padding-left: 0%;
            padding-right: 7rem;
        }
        .label{
            padding-top: 3rem;
            padding-bottom: 3rem;
            padding-left: 15rem;
            padding-right: 3rem;
            font-weight: bold;
        }
        .text{
            padding-top: 3px;
        }
        .select{
            padding-top: 3px;
            width: 5cm;
        }
        .button{
            padding-left: 3rem;
            background-color: rgb(229, 236, 229);
            color: rgb(3, 2, 2);
            padding: 15px 32px;
            text-align: center;
        }
    }
}